.field-group--code {
  grid-column: span 1;
}

.field-group--name {
  grid-column: span 3;
}

@media (max-width: 860px) {
  .field-group--name {
    grid-column: 1 / -1;
  }
}

@media (max-width: 560px) {
  .field-group--name,
  .field-group--code {
    grid-column: 1 / -1;
  }
}
